body{
    background-color: #2F3028;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(99, 233, 22);
}

.small_heading{
    font-size: 32px;
}

ul.points{
    list-style: circle;
}

ul.points > li{
    text-align: left;
    text-decoration: none;
}


.my_btn{
    width: 100px;
    height: 40px;
    margin: 2%;
}

.form_text{
    font-size: 18px;
    margin: 1%;
}

.addProjectSection{
    padding: 5%;;
    text-align: center;
    border: 1px white solid;
    width: 50%;;
}