body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, red, yellow);
}

.message {
    font-size: 44px;
    color: white;
}

hr {
    width: 50%;
}

.container {
    text-align: center;
}