.jumbotron{
    background-color: rgb(124, 24, 124);
}

.todo-item{
    background-color: rgb(124, 24, 124);
    color: white;
    padding: 2% 5%;
    border-radius: 30px;
    transition: 0.5s;
}

.todo-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.icon{
    cursor: pointer;
    transition: 0.25s;
    padding: 0 1%;
}

.icon:hover{
    transform: rotateY(360deg);
}

.message{
    cursor: default;
    font-size: x-large;
    padding-left: 2%;
    display: inline-block;
}


.add-task{
    background-color: rgb(124, 24, 124);
    color: white;
    padding: 2% 5%;
    width: 100%;
    margin: auto 0;
    transition: 0.5s;
}

input{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    padding: 2%;
}

.add-button{
    transition: 0.25s;
}

.add-button:hover{
    cursor: pointer;
    transform: rotateZ(180deg);
}